*{
    margin: 0;
    padding: 0;
}
html{
    overflow: scroll;
    font-size: 62.5%;
    display: block;
}
#body{
    overflow: scroll;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}
.head{
    background-color: #0749aa;
    height: 8.5rem;
    font-size: 6.0rem;
    font-family: courier new;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center; 

}


nav{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    background-color:#517FC3 ;
    
}

.navbar-nav {
    
    display: flex;
    flex-wrap:wrap-reverse;
    gap: 5rem;
}
.dropdown #dropdownMenuLink{
    background-color: #517FC3;
    font-size: large;
    border: none;
}


#t,#t1,#t2,#t3,#t4,#t5{
    color: #ffffff;
}

.end{
    background-color: #517FC3;
    height: auto;
    display: flex;
    overflow: hidden;
    justify-content: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;

}
.end p{
    margin-left:5% ;
}
#style{
    color: #ffffff;
}
#style1{
    color: #ffffff;
}

#style2{
    color: #ffffff;
}

#style3{
    color: #ffffff;
}

#style4{
    color: #ffffff;
}
#style5{
    color: #ffffff;
}
#style6{
    color: #ffffff;
}
#style7{
    color: #ffffff;
}
#style8{
    color: #ffffff;
}
#ln{

    font-size: 4rem; 
   

}
#srkrlg{
    display: flex;
   
}
#srkrlg img {
    height: 8rem;
}

#lnlg {
    display: flex;
}
#lnlg img {
    height: 8rem;
    
}

@media only screen and (max-width: 1000px ) {
    #ln {   
        font-size: 70%;
     }
     .navbar-nav {
        gap: 2rem;
    }
  }
  @media only screen and (max-width: 530px) {
    #ln {   
        font-size: 45%;
     }
     .navbar-nav {
        gap: 1rem;
    }
    
  } 
  @media only screen and (max-width: 410px) {
    #ln {   
        font-size: 40%;
     }
     .navbar-nav {
        gap: .5rem;
    }
   
  } 



/* upto here u can copy for another pages for the top 2 bars */