

/* upto here u can copy for another pages for the top 2 bars */

.img_body{
    margin: 2rem;
   height: 100%;
   overflow: scroll;
   

}
.box p{
    text-align: center;
    font-size: large;
}

.box{
    float: left;
    width: 33.3%;
}

.box_img{
    margin:.5rem;
    background-color: aliceblue;
    width: 99%;
    border-radius: 2rem;
}

.img_body div div img{
    width: 100%;
    border-radius: 1rem;
}

 


@media only screen and (max-width: 900px) {
    #ln {   
        font-size: 75%;
     }
    .box{
        width: 50%;
        font-size: medium;
    }
  }
  @media only screen and (max-width: 530px) {
    #ln {   
        font-size: 50%;
     }
    
  } 
  @media only screen and (max-width: 425px) {
    #ln {   
        font-size: 31%;
     }
     .box{
        width: 100%;
    }
  } 


