
.container{
    margin-left: 21rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 100rem;
    height: 100rem;
    color: black;
    background-color:  #cddaee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-style: ridge;
    border-color: black;
}
.images{
    overflow: scroll;
}
.container h1{
    font-size: 2.5rem;
    padding-left: -5rem;
    color: #333333;
    text-align: center;
}
.container li{
    color: #333333;
    font-size: 2.5rem;
}
.container img{
    width:100%;
    /* height:fit-content; */
    
}

.container a{
    color: #333333;
}


